* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#home {
  height: 100vh;
}
#profile-pic {
  position: absolute;
  left: 60%;
  top: 20%;
  width: 400px;
}

#home h1 {
  position: absolute;
  font-size: 100px;
  top: 20%;
  font-family: "Roboto", sans-serif;
  left: 10%;
  color: #2c2b2b;
}

#home p {
  font-family: "Noto Sans JP", sans-serif;
  padding: 30px 0;
}

#home-para {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 700px;
  font-size: 20px;
}

#navbar a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: #756e6e;
  padding: 20px 40px;
  display: flex;
  float: right;
}
.ml {
  margin-right: 10vw;
}
#navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 1px 3px 5px #dfe1e5;
}

#navbar a:hover {
  color: #1d1d1d;
}
#logo {
  position: relative;
  left: 50px;
  top: 10px;
  width: 70px;
  cursor: pointer;
}
#home-pictures {
  position: absolute;
  top: 80%;
  left: 9%;
}
#home-pictures img {
  width: 70px;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

#home-pictures img:hover {
  transform: scale(1.5);
}
#home-para-big {
  font-size: 35px;
}

#about {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#about-div1,
#about-div2 {
  margin-top: 10vh;
}

#about-div1 h2,
#about-div2 h2 {
  font-size: 45px;
}

#about-div1 button,
#about-div2 button {
  text-decoration: underline;
  cursor: pointer;
  background-color: white;
  border: none;
  font-weight: lighter;
  font-size: 20px;
}
#tools-div,
#skills-div {
  height: 0;
}
#tools-div img,
#skills-div img {
  height: inherit;
  position: relative;
  top: 10px;
  left: 5vw;
  transition: all 0.2s ease-in;
}
#tools-close,
#skills-close {
  display: none;
}
#projects {
  position: absolute;
  top: 200%;
  width: 100%;
  height: 100vh;
}
#work-text {
  font-size: 35px;
  width: 20vw;
  position: relative;
  top: 15vh;
  left: 5vw;
}
#hr-work {
  position: relative;
  top: 15vh;
  left: 5vw;
  width: 85vw;
}

#work-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 15vh;
  left: 5vw;
  width: 85vw;
  height: 200vh;
}
.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.projects {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 12px 20px #dfe1e5;
  transition: all 0.2s ease;
}
.projects:hover {
  transform: scale(1.2);
}
.projects img {
  width: inherit;
}
.projects p {
  position: relative;
  top: 10px;
  left: 10px;
}

#mobile-nav {
  display: none;
}
footer{
  display: none;
}
@media only screen and (max-width: 1420px) {
  #profile-pic {
    width: 350px;
  }
  #home h1 {
    font-size: 80px;
  }
  #home-para-big {
    font-size: 30px;
  }
  #home-para {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  #profile-pic {
    width: 300px;
  }
  #home h1 {
    font-size: 75px;
  }
  #home-para-big {
    font-size: 25px;
  }
  #home-para {
    font-size: 20px;
  }
  .projects {
    height: 42vh;
  }
  #about-div1 h2,
  #about-div2 h2 {
    font-size: 30px;
  }
  #about-div1 button,
  #about-div2 button {
    font-size: 16px;
  }
  .projects {
    width: 350px;
    height: 280px;
  }
}
@media only screen and (max-width: 1050px) {
  #profile-pic {
    width: 300px;
  }
  #navbar a {
    font-size: 25px;
  }
  #home h1 {
    font-size: 60px;
  }
  #home-para-big {
    font-size: 20px;
  }
  #home-para {
    font-size: 16px;
  }
  .projects {
    height: 42vh;
  }
  #about-div1 h2,
  #about-div2 h2 {
    font-size: 30px;
  }
  #about-div1 button,
  #about-div2 button {
    font-size: 16px;
  }
  .projects {
    width: 300px;
    height: 250px;
  }
  #home-para {
    position: absolute;
    top: 38%;
    left: 10%;
    width: 700px;
  }
  #work-container {
    height: 150vh;
  }

  #home-pictures {
    top: 70%;
  }
  #logo {
    left: 50px;
    top: 10px;
    width: 60px;
  }
}
@media only screen and (max-width: 800px) {
  #profile-pic {
    width: 250px;
  }
  #navbar a {
    font-size: 20px;
  }
  #home h1 {
    font-size: 45px;
  }
  #home-para-big {
    font-size: 18px;
  }
  #home-para {
    font-size: 16px;
  }
  #home-pictures img {
    width: 55px;
  }
  #about-div1 h2,
  #about-div2 h2 {
    font-size: 20px;
    position: relative;
    left: 20px;
    width: 40vw;
  }
  #about-div1 button,
  #about-div2 button {
    display: none;
  }
  #tools-div,
  #skills-div {
    height: 400px;
    margin-top: 0vh;
  }
  #tools-div img,
  #skills-div img {
    top: 0px;
    left: 0px;
    width: 350px;
  }
  #work-container {
    height: 150vh;
  }
  .projects p {
    position: relative;
    font-size: small;
    top: 10px;
    left: 10px;
  }
  .projects {
    width: 250px;
    height: 200px;
  }
  #home-para {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 600px;
  }
  #logo {
    left: 50px;
    top: 10px;
    width: 50px;
  }
}
@media only screen and (max-width: 700px) {
  #navbar {
    display: none;
  }
  #mobile-nav {
    display: block;
    width: 100%;
    height: 10vh;
    background-color: white;
    box-shadow: 1px 3px 5px #dfe1e5;
    position: fixed;
    z-index: 100;
  }
  #mob-logo {
    width: 50px;
    position: relative;
    left: 10vw;
    top: 10px;
  }
  #mob-menu {
    width: 50px;
    position: relative;
    left: 70vw;
    top: 10px;
    cursor: pointer;
    display: inline-block;
  }
  #mob-close {
    width: 50px;
    position: relative;
    left: 70vw;
    top: 10px;
    cursor: pointer;
    display: none;
  }
  #mob-drop {
    position: relative;
    width: 100%;
    height: 0vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 5px #dfe1e5;
    transition: all 0.2s ease;
  }
  .mob-a {
    padding: 35px 10vw;
    font-size: large;
    display: none;
    text-decoration: none;
    font: large;
    color: #756e6e;
  }
  .mob-a:hover {
    color: #2b2b22;
  }
  #profile-pic {
    position: absolute;
    left: 20%;
    top: 15%;
    width: 300px;
  }

  #home h1 {
    position: absolute;
    font-size: 50px;
    top: 60%;
    width: 70vw;
    font-family: "Roboto", sans-serif;
    left: 12%;
    color: #2c2b2b;
  }

  #home p {
    font-family: "Noto Sans JP", sans-serif;
    padding: 30px 0;
  }

  #home-para {
    position: absolute;
    top: 70%;
    left: 20%;
    width: 60vw;
    font-size: 20px;
  }
  #home-para-big {
    font-size: 25px;
  }
  #home-pictures {
    display: none;
  }
  #about {
    flex-direction: column;
    align-items: center;
    top: 120%;
    height: 200vh;
  }

  #tools-div img,
  #skills-div img {
    width: 400px;
    height: 500px;
  }
  #projects {
    top: 320%;
  }
  #about-div1 h2,
  #about-div2 h2 {
    width: 70vw;
    font-size: 30px;
    left: 20px;
  }
  #work-text {
    font-size: 25px;
    width: 20vw;
    position: relative;
    top: 15vh;
    left: 5vw;
  }
  #hr-work {
    position: relative;
    top: 15vh;
    left: 5vw;
    width: 85vw;
  }
  .inner-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }
  #work-container {
    height: 250vh;
    width: 80vw;
  }
  .projects {
    width: 350px;
    height: 260px;
  }
}

@media only screen and (max-width: 478px){
  #navbar {
    display: none;
  }
  #mobile-nav {
    display: block;
    width: 100%;
    height: 8vh;
    background-color: white;
    box-shadow: 1px 3px 5px #dfe1e5;
    position: fixed;
    z-index: 100;
  }
  #mob-logo {
    width: 50px;
    position: relative;
    left: 10vw;
    top: 10px;
  }
  #mob-menu {
    width: 50px;
    position: relative;
    left: 65vw;
    top: 10px;
    cursor: pointer;
    display: inline-block;
  }
  #mob-close {
    width: 50px;
    position: relative;
    left: 70vw;
    top: 10px;
    cursor: pointer;
    display: none;
  }
  #mob-drop {
    position: relative;
    width: 100%;
    top: 0;
    height: 0vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 5px #dfe1e5;
    transition: all 0.2s ease;

  }
  .mob-a {
    padding: 30px 10vw;
    font-size: large;
    display: none;
    text-decoration: none;
    font: large;
    color: #756e6e;
  }
  .mob-a:hover {
    color: #2b2b22;
  }
  #profile-pic {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 300px;
  }

  #home h1 {
    position: absolute;
    font-size: 45px;
    top: 60%;
    width: 80vw;
    font-family: "Roboto", sans-serif;
    left: 15%;
    color: #2c2b2b;
  }

  #home p {
    font-family: "Noto Sans JP", sans-serif;
    padding: 30px 0;
  }

  #home-para {
    position: absolute;
    top: 70%;
    left: 20%;
    width: 70vw;
    font-size: 20px;
  }
  #home-para-big {
    font-size: 25px;
  }
  #home-pictures {
    display: none;
  }
  #about {
    flex-direction: column;
    align-items: center;
    top: 120%;
    height: 175vh;
  }
  #tools-div img,
  #skills-div img {
    width: 400px;
    height: 500px;
  }
  #projects {
    top: 320%;
  }
  #about-div1 h2,
  #about-div2 h2 {
    width: 70vw;
    font-size: 24px;
    left: 20px;
  }
  #work-text {
    font-size: 25px;
    width: 30vw;
    position: relative;
    top: 15vh;
    left: 5vw;
  }
  #hr-work {
    position: relative;
    top: 15vh;
    left: 5vw;
    width: 85vw;
  }
  .inner-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }
  #work-container {
    height: 200vh;
    width: 90vw;
  }
  .projects {
    width: 300px;
    height: 230px;
  }
  footer{
    display: block;
  }
  #footer-pictures img{
    position: relative;
    left: 5vw;
    width: 70px;
    padding: 0px 10px;
  }
  #footer-pictures{
    position:absolute;
    top:550%;
    height: 20vh;
  }
  #footer-pictures p{
    position: relative;
    left: 5vw;
    font-size: 25px;
  }
  #footer-pictures hr{
    width: 85vw;
    position: relative;
    top:0vh;
    left: 5vw;
  }
  
}
@media only screen and (max-width: 378px){
  #home h1{
    font-size: 35px;
    left: 20%;
  }
  #tools-div img,
  #skills-div img {
    width: 300px;
    height: 375px;
  }
}